.nodeContainer {
  display: grid;
  grid-template-columns: repeat(8, 1px); /* 8 columns with equal width */
  grid-gap: 25px; /* Gap between grid items */
}

.node {
  background-color: black;
  width: 2vw;
  height: 3px;
  border-radius: 1px;
}

.container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Make the container take up the full height of the viewport */
}
